.vector-icon6 {
  position: absolute;
  height: 98.15%;
  width: 102.68%;
  top: 0;
  right: -2.68%;
  bottom: 1.85%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.back-arrow4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 56px;
  position: relative;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.menu6,
.navbar5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navbar5 {
  flex-direction: column;
  justify-content: center;
  padding: 0 0 var(--padding-31xl);
}
.sub-title3,
.title4 {
  align-self: stretch;
  position: relative;
}
.sub-title3 {
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
}
.title-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bert-arch-icon {
  width: 888px;
  height: 492.2px;
  position: relative;
  object-fit: cover;
  z-index: 0;
}
.image-13 {
  align-self: stretch;
  height: 20px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.overlay-icon3 {
  width: 888px;
  height: 492.2px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0%;
  cursor: pointer;
  z-index: 2;
}
.overlay-icon3:hover {
  opacity: 100%;
}
.bert-arch-parent,
.header3,
.intro3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bert-arch-parent {
  position: relative;
  gap: var(--gap-8xs);
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-montserrat);
}
.header3,
.intro3 {
  align-self: stretch;
}
.intro3 {
  border-radius: var(--br-3xs);
  gap: var(--gap-16xl);
  row-gap: 30px;
}
.header3 {
  font-family: var(--font-venite-adoremus);
}
.general-overview7,
.lorem-ipsum-dolor3 {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.general-overview7 {
  height: 39px;
  font-weight: 600;
}
.lorem-ipsum-dolor3 {
  height: 72px;
  font-size: var(--font-size-xl);
  text-indent: 33px;
}
.general-overview6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.comprehensive-breakdown3 {
  align-self: stretch;
  height: 39px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.detailed3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.aenean-at-ipsum3 {
  align-self: stretch;
  height: 24px;
  position: relative;
  font-size: var(--font-size-xl);
  text-indent: 33px;
  display: inline-block;
}
.closing3,
.content5 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.closing3 {
  width: 1720px;
  display: none;
  gap: var(--gap-8xs);
}
.content5 {
  align-self: stretch;
  display: flex;
  gap: var(--gap-31xl);
  text-align: justify;
  font-size: var(--font-size-13xl);
}
.footer-child4,
.lets-connect6 {
  align-self: stretch;
  position: relative;
}
.footer-child4 {
  background: linear-gradient(
    90deg,
    rgba(3, 7, 14, 0),
    #fff 33.1%,
    #fff 50%,
    #fff 67.43%,
    rgba(3, 7, 14, 0)
  );
  height: 1px;
}
.lets-connect6 {
  height: 24px;
  display: inline-block;
}
.github-logo-icon6,
.instagram-logo-icon6,
.youtube-logo-icon6 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: contain;
  cursor: pointer;
}
.github-logo-icon6,
.youtube-logo-icon6 {
  height: 33px;
  width: 45px;
}
.github-logo-icon6 {
  width: 33px;
}
.bitcoin-sentiment-sub-page1,
.footer6,
.lets-connect-parent3,
.social-media-logo6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
}
.bitcoin-sentiment-sub-page1,
.footer6,
.lets-connect-parent3 {
  align-self: stretch;
  flex-direction: column;
}
.bitcoin-sentiment-sub-page1,
.footer6 {
  overflow: hidden;
  gap: var(--gap-31xl);
}
.footer6 {
  font-size: var(--font-size-xl);
}
.bitcoin-sentiment-sub-page1 {
  text-decoration: none;
  padding: var(--padding-31xl) var(--padding-81xl);
  background-image: url(./public/bitcoin-sentiment-subpage@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: inherit;
}
.bitcoin-sentiment-sub-page {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1440px) {
  .navbar5 {
    gap: var(--gap-0);
    padding-top: 0;
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }
  .title4 {
    font-size: var(--font-size-17xl);
  }
  .sub-title3 {
    font-size: var(--font-size-mini);
  }
  .bert-arch-icon {
    width: 666px;
    height: 369px;
  }
  .image-13 {
    font-size: var(--font-size-xs);
  }
  .overlay-icon3 {
    width: 666px;
    height: 369px;
  }
  .general-overview7 {
    font-size: var(--font-size-5xl);
  }
  .lorem-ipsum-dolor3 {
    font-size: var(--font-size-mini);
  }
  .comprehensive-breakdown3 {
    font-size: var(--font-size-5xl);
  }
  .aenean-at-ipsum3 {
    font-size: var(--font-size-mini);
  }
  .content5 {
    gap: var(--gap-26xl);
  }
  .lets-connect6 {
    font-size: var(--font-size-mini);
  }
  .instagram-logo-icon6 {
    width: 25px;
    height: 25px;
  }
  .youtube-logo-icon6 {
    width: 34px;
    height: 25px;
  }
  .github-logo-icon6 {
    width: 25px;
    height: 25px;
  }
  .bitcoin-sentiment-sub-page1 {
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 1200px) {
  .menu6 {
    display: flex;
  }
  .navbar5 {
    gap: var(--gap-0);
    padding-top: 0;
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .title4 {
    font-size: var(--font-size-11xl);
  }
  .sub-title3 {
    font-size: var(--font-size-xs);
  }
  .bert-arch-icon {
    width: 555px;
    height: 307px;
  }
  .image-13 {
    font-size: var(--font-size-3xs);
  }
  .overlay-icon3 {
    width: 555px;
    height: 307px;
  }
  .general-overview7 {
    font-size: var(--font-size-xl);
  }
  .lorem-ipsum-dolor3 {
    font-size: var(--font-size-xs);
  }
  .comprehensive-breakdown3 {
    font-size: var(--font-size-xl);
  }
  .aenean-at-ipsum3 {
    font-size: var(--font-size-xs);
  }
  .content5 {
    gap: var(--gap-16xl);
  }
  .lets-connect6 {
    font-size: var(--font-size-xs);
  }
  .instagram-logo-icon6 {
    width: 21px;
    height: 21px;
  }
  .youtube-logo-icon6 {
    width: 28px;
    height: 21px;
  }
  .github-logo-icon6 {
    width: 21px;
    height: 21px;
  }
  .social-media-logo6 {
    gap: var(--gap-mini);
  }
  .lets-connect-parent3 {
    gap: var(--gap-3xl);
  }
  .footer6 {
    gap: var(--gap-25xl);
  }
  .bitcoin-sentiment-sub-page1 {
    gap: var(--gap-31xl);
    padding-left: var(--padding-56xl);
    padding-right: var(--padding-56xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .menu6,
  .navbar5 {
    box-sizing: border-box;
  }
  .menu6 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0;
    font-size: 65%;
  }
  .navbar5 {
    gap: var(--gap-0);
    padding: 0 var(--padding-base) var(--padding-base) 0;
  }
  .title-parent1 {
    padding-bottom: var(--padding-mini);
    box-sizing: border-box;
  }
  .bert-arch-icon,
  .overlay-icon3 {
    width: 444px;
    height: 246px;
  }
  .intro3 {
    row-gap: 10px;
  }
  .general-overview7 {
    font-size: var(--font-size-xl);
  }
  .aenean-at-ipsum3,
  .lorem-ipsum-dolor3 {
    font-size: var(--font-size-xs);
  }
  .lets-connect6 {
    font-size: var(--font-size-3xs);
  }
  .instagram-logo-icon6 {
    width: 17px;
    height: 17px;
  }
  .youtube-logo-icon6 {
    width: 23px;
    height: 17px;
  }
  .github-logo-icon6 {
    width: 17px;
    height: 17px;
  }
  .social-media-logo6 {
    gap: var(--gap-mini);
  }
  .lets-connect-parent3 {
    gap: var(--gap-xl);
  }
  .footer6 {
    gap: var(--gap-21xl);
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .bitcoin-sentiment-sub-page1 {
    padding-left: var(--padding-31xl);
    padding-top: var(--padding-21xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .back-arrow4 {
    width: 42px;
    height: 20px;
  }
  .menu6,
  .navbar5 {
    align-items: center;
    box-sizing: border-box;
  }
  .menu6 {
    gap: var(--gap-31xl);
    justify-content: flex-start;
    padding-right: 0;
  }
  .navbar5 {
    gap: var(--gap-0);
    justify-content: center;
    padding: 0 var(--padding-base) var(--padding-base) 0;
  }
  .title-parent1 {
    gap: var(--gap-12xs);
  }
  .bert-arch-icon {
    width: 266px;
    height: 148px;
  }
  .image-13 {
    font-size: var(--font-size-5xs);
  }
  .overlay-icon3 {
    width: 266px;
    height: 148px;
  }
  .aenean-at-ipsum3 {
    font-size: var(--font-size-3xs);
  }
  .content5 {
    gap: var(--gap-6xl);
  }
  .lets-connect6 {
    font-size: var(--font-size-3xs);
  }
  .instagram-logo-icon6 {
    width: 13px;
    height: 13px;
  }
  .youtube-logo-icon6 {
    width: 18px;
    height: 13px;
  }
  .github-logo-icon6 {
    width: 13px;
    height: 13px;
  }
  .social-media-logo6 {
    gap: var(--gap-3xs);
  }
  .footer6 {
    gap: var(--gap-21xl);
  }
  .bitcoin-sentiment-sub-page1 {
    gap: var(--gap-14xl);
    padding: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .navbar5 {
    gap: var(--gap-0);
    padding-top: 0;
    padding-right: var(--padding-base);
    padding-bottom: var(--padding-base);
    box-sizing: border-box;
  }
  .title4 {
    font-size: var(--font-size-5xl);
  }
  .sub-title3 {
    font-size: var(--font-size-3xs);
  }
  .bert-arch-icon {
    width: 221px;
    height: 123px;
  }
  .image-13 {
    font-size: var(--font-size-5xs);
  }
  .overlay-icon3 {
    width: 221px;
    height: 123px;
  }
  .intro3 {
    row-gap: 10px;
  }
  .general-overview7 {
    font-size: var(--font-size-base);
  }
  .lorem-ipsum-dolor3 {
    font-size: var(--font-size-3xs);
  }
  .comprehensive-breakdown3 {
    font-size: var(--font-size-base);
  }
  .aenean-at-ipsum3 {
    font-size: var(--font-size-3xs);
  }
  .lets-connect-parent3 {
    gap: var(--gap-3xs);
  }
  .footer6 {
    gap: var(--gap-21xl);
  }
}
