.group-child,
.group-item {
  position: absolute;
  height: 4.45%;
  width: 57.34%;
  top: 61.09%;
  right: 42.66%;
  bottom: 34.46%;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
}
.group-item {
  width: 22.72%;
  top: 72.57%;
  right: 77.28%;
  bottom: 22.99%;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-child7,
.group-inner {
  position: absolute;
  height: 4.45%;
  width: 45.46%;
  top: 84.08%;
  right: 54.54%;
  bottom: 11.47%;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  width: 80.55%;
  top: 95.55%;
  right: 19.45%;
  bottom: 0;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  width: 38.89%;
  top: 61.09%;
  right: 0;
  bottom: 34.46%;
  left: 61.11%;
}
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  width: 73.48%;
  top: 72.57%;
  bottom: 22.99%;
  left: 26.52%;
}
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  width: 50.77%;
  top: 84.08%;
  bottom: 11.47%;
  left: 49.23%;
}
.group-child5,
.group-child6,
.group-child7 {
  width: 15.65%;
  top: 95.55%;
  right: 0.03%;
  bottom: 0;
  left: 84.33%;
}
.group-child6,
.group-child7 {
  top: 0;
  right: 42.69%;
  bottom: 95.55%;
  left: 41.66%;
}
.group-child7 {
  width: 38.63%;
  top: 11.47%;
  right: 19.71%;
  bottom: 84.08%;
}
.group-child10,
.group-child11,
.group-child12,
.group-child13,
.group-child14,
.group-child15,
.group-child8,
.group-child9 {
  position: absolute;
  height: 4.45%;
  width: 11.61%;
  top: 22.99%;
  right: 46.73%;
  bottom: 72.57%;
  left: 41.66%;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
}
.group-child10,
.group-child11,
.group-child12,
.group-child13,
.group-child14,
.group-child15,
.group-child9 {
  width: 27.28%;
  top: 34.46%;
  right: 31.06%;
  bottom: 61.09%;
}
.group-child10,
.group-child11,
.group-child12,
.group-child13,
.group-child14,
.group-child15 {
  width: 38.89%;
  top: 0;
  right: 0;
  bottom: 95.55%;
  left: 61.11%;
}
.group-child11,
.group-child12,
.group-child13,
.group-child14,
.group-child15 {
  width: 15.91%;
  top: 11.47%;
  bottom: 84.08%;
  left: 84.09%;
}
.group-child12,
.group-child13,
.group-child14,
.group-child15 {
  width: 42.93%;
  top: 22.99%;
  bottom: 72.57%;
  left: 57.07%;
}
.group-child13,
.group-child14,
.group-child15 {
  width: 27.28%;
  top: 34.46%;
  bottom: 61.09%;
  left: 72.72%;
}
.group-child14,
.group-child15 {
  width: 34.09%;
  top: 45.98%;
  bottom: 49.58%;
  left: 65.91%;
}
.group-child15 {
  width: 20.21%;
  right: 37.89%;
  left: 41.9%;
}
.cv-logo-inner,
.rectangle-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cv-logo-inner {
  height: 73.74%;
  width: 84.98%;
  top: 13.44%;
  right: 7.62%;
  bottom: 12.82%;
  left: 7.4%;
}
.rectangle-69-stroke,
.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 37.05%;
  width: 25.11%;
  top: 13.57%;
  right: 64.57%;
  bottom: 49.38%;
  left: 10.31%;
}
.cv-logo {
  width: 100%;
  position: relative;
  height: 305px;
}
