.close-inner,
.rectangle-div {
  position: absolute;
  height: 16.64%;
  width: 124.79%;
  top: 88.19%;
  right: -24.79%;
  bottom: -4.83%;
  left: 0;
  background-color: var(--color-gainsboro);
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.rectangle-div {
  top: 0;
  right: -36.61%;
  bottom: 83.36%;
  left: 11.81%;
  transform: rotate(45deg);
}
.close1 {
  width: 100%;
  position: relative;
  height: 60.1px;
}
