.component-child {
  position: absolute;
  height: 94.1%;
  width: 55.61%;
  top: 2.95%;
  right: 22.2%;
  bottom: 2.95%;
  left: 22.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-parent {
  width: 100%;
  position: relative;
  height: 305px;
  overflow: hidden;
}
