.vector-icon4 {
  position: absolute;
  height: 98.15%;
  width: 102.68%;
  top: 0;
  right: -2.68%;
  bottom: 1.85%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.back-arrow4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 56px;
  position: relative;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.menu6,
.navbar6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navbar6 {
  flex-direction: column;
  justify-content: center;
  padding: 0 0 var(--padding-31xl);
}
.sub-title4,
.title5 {
  align-self: stretch;
  height: auto;
  position: relative;
  display: inline-block;
}
.sub-title4 {
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
}
.title-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.github-profile-thumbnail1 {
  width: 888px;
  height: 492.2px;
  position: relative;
  object-fit: cover;
  z-index: 0;
}
.image-14 {
  align-self: stretch;
  height: 20px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.overlay-icon4 {
  width: 888px;
  height: 492.2px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0%;
  cursor: pointer;
  z-index: 2;
}
.overlay-icon4:hover {
  opacity: 100%;
}
.github-profile-thumbnail-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-8xs);
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-montserrat);
}
.intro4 {
  border-radius: var(--br-3xs);
  gap: var(--gap-16xl);
  row-gap: 30px;
}
.header4,
.intro4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.general-overview9,
.lorem-ipsum-dolor4 {
  margin: 0;
  align-self: stretch;
  height: auto;
  position: relative;
  display: inline-block;
}
.general-overview9 {
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.lorem-ipsum-dolor4 {
  font-size: var(--font-size-xl);
  text-indent: 33px;
}
.general-overview8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  text-align: justify;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.comprehensive-breakdown4 {
  margin: 0;
  align-self: stretch;
  height: auto;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.content6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-31xl);
}
.frame-child20,
.lets-connect6 {
  align-self: stretch;
  position: relative;
}
.frame-child20 {
  background: linear-gradient(
    90deg,
    rgba(3, 7, 14, 0),
    #fff 33.1%,
    #fff 50%,
    #fff 67.43%,
    rgba(3, 7, 14, 0)
  );
  height: 1px;
}
.lets-connect6 {
  height: 24px;
  display: inline-block;
}
.github-logo-icon22,
.instagram-logo-icon6,
.youtube-logo-icon6 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: contain;
  cursor: pointer;
}
.github-logo-icon22,
.youtube-logo-icon6 {
  height: 33px;
  width: 45px;
}
.github-logo-icon22 {
  width: 33px;
}
.lets-connect-parent4,
.social-media-logo6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
}
.lets-connect-parent4 {
  flex-direction: column;
}
.rectangle-parent12 {
  gap: var(--gap-31xl);
}
.footer-wrapper2,
.footer6,
.rectangle-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer6 {
  overflow: hidden;
}
.footer-wrapper2 {
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
}
.fun-projects-sub-page,
.fun-projects-sub-page1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.fun-projects-sub-page1 {
  text-decoration: none;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-81xl);
  gap: var(--gap-31xl);
  background-image: url(./public/fun-projects-subpage@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: inherit;
}
.fun-projects-sub-page {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-venite-adoremus);
}
@media screen and (max-width: 1440px) {
  .navbar6 {
    gap: var(--gap-0);
    padding-top: 0;
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }
  .title5 {
    font-size: 75%;
    height: auto;
  }
  .sub-title4 {
    font-size: var(--font-size-mini);
  }
  .github-profile-thumbnail1 {
    width: 666px;
    height: 369px;
  }
  .image-14 {
    font-size: var(--font-size-xs);
  }
  .overlay-icon4 {
    width: 666px;
    height: 369px;
  }
  .general-overview9 {
    font-size: var(--font-size-5xl);
  }
  .lorem-ipsum-dolor4 {
    font-size: var(--font-size-mini);
  }
  .comprehensive-breakdown4 {
    font-size: var(--font-size-5xl);
  }
  .content6 {
    gap: var(--gap-26xl);
  }
  .lets-connect6 {
    font-size: var(--font-size-mini);
  }
  .instagram-logo-icon6 {
    width: 25px;
    height: 25px;
  }
  .youtube-logo-icon6 {
    width: 34px;
    height: 25px;
  }
  .github-logo-icon22 {
    width: 25px;
    height: 25px;
  }
  .fun-projects-sub-page1 {
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 1200px) {
  .menu6 {
    display: flex;
  }
  .navbar6 {
    gap: var(--gap-0);
    padding-top: 0;
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .title5 {
    font-size: 62.5%;
    height: auto;
  }
  .sub-title4 {
    font-size: var(--font-size-xs);
  }
  .github-profile-thumbnail1 {
    width: 555px;
    height: 307px;
  }
  .image-14 {
    font-size: var(--font-size-3xs);
  }
  .overlay-icon4 {
    width: 555px;
    height: 307px;
  }
  .general-overview9 {
    font-size: var(--font-size-xl);
  }
  .lorem-ipsum-dolor4 {
    font-size: var(--font-size-xs);
  }
  .comprehensive-breakdown4 {
    font-size: var(--font-size-xl);
  }
  .content6 {
    gap: var(--gap-16xl);
  }
  .lets-connect6 {
    font-size: var(--font-size-xs);
  }
  .instagram-logo-icon6 {
    width: 21px;
    height: 21px;
  }
  .youtube-logo-icon6 {
    width: 28px;
    height: 21px;
  }
  .github-logo-icon22 {
    width: 21px;
    height: 21px;
  }
  .social-media-logo6 {
    gap: var(--gap-mini);
  }
  .lets-connect-parent4 {
    gap: var(--gap-3xl);
  }
  .footer6 {
    gap: var(--gap-25xl);
  }
  .fun-projects-sub-page1 {
    gap: var(--gap-31xl);
    padding-left: var(--padding-56xl);
    padding-right: var(--padding-56xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .menu6,
  .navbar6 {
    box-sizing: border-box;
  }
  .menu6 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0;
    font-size: 65%;
  }
  .navbar6 {
    gap: var(--gap-0);
    padding: 0 var(--padding-base) var(--padding-base) 0;
  }
  .title5 {
    height: auto;
    font-size: 50%;
  }
  .title-parent2 {
    padding-bottom: var(--padding-mini);
    box-sizing: border-box;
  }
  .github-profile-thumbnail1,
  .overlay-icon4 {
    width: 444px;
    height: 246px;
  }
  .intro4 {
    row-gap: 10px;
  }
  .general-overview9 {
    font-size: var(--font-size-xl);
  }
  .lorem-ipsum-dolor4 {
    font-size: var(--font-size-xs);
  }
  .lets-connect6 {
    font-size: var(--font-size-3xs);
  }
  .instagram-logo-icon6 {
    width: 17px;
    height: 17px;
  }
  .youtube-logo-icon6 {
    width: 23px;
    height: 17px;
  }
  .github-logo-icon22 {
    width: 17px;
    height: 17px;
  }
  .social-media-logo6 {
    gap: var(--gap-mini);
  }
  .lets-connect-parent4 {
    gap: var(--gap-xl);
  }
  .footer6 {
    gap: var(--gap-21xl);
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .fun-projects-sub-page1 {
    padding-left: var(--padding-31xl);
    padding-top: var(--padding-21xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .back-arrow4 {
    width: 42px;
    height: 20px;
  }
  .menu6,
  .navbar6 {
    align-items: center;
    box-sizing: border-box;
  }
  .menu6 {
    gap: var(--gap-31xl);
    justify-content: flex-start;
    padding-right: 0;
  }
  .navbar6 {
    gap: var(--gap-0);
    justify-content: center;
    padding: 0 var(--padding-base) var(--padding-base) 0;
  }
  .title5 {
    height: auto;
    font-size: 40%;
  }
  .sub-title4 {
    font-size: var(--font-size-3xs);
  }
  .title-parent2 {
    gap: var(--gap-12xs);
  }
  .github-profile-thumbnail1 {
    width: 266px;
    height: 148px;
  }
  .image-14 {
    font-size: var(--font-size-5xs);
  }
  .overlay-icon4 {
    width: 266px;
    height: 148px;
  }
  .comprehensive-breakdown4,
  .general-overview9,
  .lorem-ipsum-dolor4 {
    font-size: var(--font-size-3xs);
  }
  .content6 {
    gap: var(--gap-6xl);
  }
  .lets-connect6 {
    font-size: var(--font-size-3xs);
  }
  .instagram-logo-icon6 {
    width: 13px;
    height: 13px;
  }
  .youtube-logo-icon6 {
    width: 18px;
    height: 13px;
  }
  .github-logo-icon22 {
    width: 13px;
    height: 13px;
  }
  .social-media-logo6 {
    gap: var(--gap-3xs);
  }
  .footer6 {
    gap: var(--gap-21xl);
  }
  .fun-projects-sub-page1 {
    gap: var(--gap-14xl);
    padding: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .navbar6 {
    gap: var(--gap-0);
    padding-top: 0;
    padding-right: var(--padding-base);
    padding-bottom: var(--padding-base);
    box-sizing: border-box;
  }
  .title5 {
    font-size: 40%;
    height: auto;
  }
  .sub-title4 {
    font-size: var(--font-size-3xs);
  }
  .github-profile-thumbnail1 {
    width: 221px;
    height: 123px;
  }
  .image-14 {
    font-size: var(--font-size-5xs);
  }
  .overlay-icon4 {
    width: 221px;
    height: 123px;
  }
  .intro4 {
    row-gap: 10px;
  }
  .general-overview9 {
    font-size: var(--font-size-base);
  }
  .lorem-ipsum-dolor4 {
    font-size: var(--font-size-3xs);
  }
  .comprehensive-breakdown4 {
    font-size: var(--font-size-base);
  }
  .lets-connect-parent4 {
    gap: var(--gap-3xs);
  }
  .footer6 {
    gap: var(--gap-21xl);
  }
}
