body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-venite-adoremus: "Venite Adoremus";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;

  /* Gaps */
  --gap-9xl: 28px;
  --gap-2xl: 21px;
  --gap-25xl: 44px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-31xl: 50px;
  --padding-131xl: 150px;
  --padding-41xl: 60px;
  --padding-21xl: 40px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-6xl: 25px;
}
