body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-venite-adoremus: "Venite Adoremus";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;

  /* Gaps */
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-2xl: 21px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-56xl: 75px;
  --padding-6xl: 25px;
  --padding-31xl: 50px;
  --padding-xl: 20px;
  --padding-21xl: 40px;
}
