.home,
.resume {
  position: relative;
  letter-spacing: 1.5px;
}
.resume {
  cursor: pointer;
}
.vector-icon {
  height: 30px;
  width: 50px;
  position: relative;
  display: none;
}
.menulinks-large,
.navbar {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menulinks-large {
  flex-direction: row;
  gap: var(--gap-31xl);
}
.navbar {
  flex-direction: column;
  padding: var(--padding-31xl) 0;
}
.welcome-to-my {
  position: relative;
  letter-spacing: 1.5px;
}
.menulinks-large1 {
  align-self: stretch;
  width: 1620px;
  flex-direction: row;
}
.menulinks-large-wrapper,
.menulinks-large1,
.starting-point {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menulinks-large-wrapper {
  flex-direction: row;
  padding: 286px 0 414px;
  font-size: 54px;
}
.starting-point {
  align-self: stretch;
  flex-direction: column;
  background-image: url(./public/starting-point@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.pp-1-icon {
  width: 231px;
  position: relative;
  height: 231px;
  object-fit: cover;
}
.greetings-my-name {
  margin: 0;
}
.greetings-my-name-container {
  flex: 1;
  position: relative;
}
.introduction,
.new-arrivals {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.new-arrivals {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 75px;
}
.introduction {
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-31xl) 0;
  text-align: justify;
  font-size: var(--font-size-xl);
}
.projects1 {
  width: 1138px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.spacex-2-icon {
  width: 350px;
  height: 197px;
  position: relative;
  object-fit: contain;
}
.course-capstone {
  align-self: stretch;
  position: relative;
  font-weight: 900;
  display: inline-block;
  height: 75.2px;
  flex-shrink: 0;
}
.courses,
.ipoth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.image-12-icon {
  width: 350px;
  height: 196px;
  position: relative;
  object-fit: contain;
}
.fun-projects {
  align-self: stretch;
  position: relative;
  font-weight: 900;
  display: inline-block;
  height: 75px;
  flex-shrink: 0;
}
.price-overall-1 {
  width: 350px;
  height: 194.8px;
  position: relative;
  object-fit: contain;
}
.bitcoin-price-prediction-container {
  align-self: stretch;
  position: relative;
  font-weight: 900;
  display: inline-block;
  height: 74.8px;
  flex-shrink: 0;
}
.bitcoin-price-prediction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.huggingface-light-icon,
.power-bi-1 {
  width: 350px;
  height: 197.2px;
  position: relative;
  object-fit: contain;
}
.power-bi-1 {
  height: 195.5px;
}
.power-bi-reports {
  align-self: stretch;
  position: relative;
  font-weight: 900;
  display: inline-block;
  height: 74.9px;
  flex-shrink: 0;
}
.fashioncards,
.projects {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: var(--gap-31xl);
}
.fashioncards {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
}
.projects {
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-31xl) 0;
  font-family: var(--font-venite-adoremus);
}
.experience1 {
  flex: 1;
  position: relative;
}
.experience-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child,
.frame-item {
  position: relative;
  background-color: var(--color-white);
}
.frame-child {
  width: 35px;
  border-radius: 50%;
  height: 35px;
}
.frame-item {
  width: 2px;
  flex: 1;
}
.ellipse-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.july-dec {
  position: relative;
}
.july-dec-2020-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.production-division-intern {
  margin: 0;
  font-weight: 900;
}
.production-division-intern-container {
  height: 96px;
  flex: 1;
  position: relative;
  text-align: justify;
  display: inline-block;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0 0;
}
.download-resume {
  position: relative;
  line-height: 90%;
  font-weight: 900;
}
.button-download-resume {
  border-radius: 20px;
  background-color: var(--color-white);
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  box-sizing: border-box;
  text-align: center;
  color: #000;
}
.button-download-resume:hover {
  background-color: #d8d1ff;
  cursor: pointer;
}
.frame-group,
.presents-parent {
  display: flex;
  justify-content: flex-start;
}
.presents-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xl);
}
.frame-group {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-31xl);
}
.experience,
.frame-parent {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.frame-parent {
  flex-direction: row;
  justify-content: space-around;
  gap: var(--gap-6xl);
  flex-wrap: wrap;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
}
.experience {
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-31xl) 0;
  gap: var(--gap-31xl);
  font-family: var(--font-venite-adoremus);
}
.frame-child1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child1,
.lets-connect {
  align-self: stretch;
  position: relative;
}
.subtract-icon,
.vector-icon1 {
  width: 45px;
  position: relative;
  height: 45.6px;
  cursor: pointer;
}
.subtract-icon {
  width: 64px;
  height: 46px;
}
.in-white-722x-1-icon,
.vector-icon2 {
  width: 45.8px;
  position: relative;
  height: 45px;
  cursor: pointer;
}
.in-white-722x-1-icon {
  width: 45px;
  object-fit: cover;
}
.social-media-logo,
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
}
.vector-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.footer {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-31xl) 0;
  font-size: 36px;
}
.content,
.footer,
.home-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  align-self: stretch;
  padding: 0 125px;
  background-image: url(./public/content@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-29xl);
  font-family: var(--font-montserrat);
}
.home-new {
  text-decoration: none;
  width: 100%;
  position: relative;
  background-color: #03060d;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-venite-adoremus);
}
@media screen and (max-width: 1440px) {
  .navbar {
    padding-top: var(--padding-31xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .navbar,
  .welcome-to-my {
    font-size: 75%;
  }
  .menulinks-large-wrapper {
    padding-top: 185px;
    padding-bottom: 310px;
    box-sizing: border-box;
  }
  .pp-1-icon {
    width: 175px;
    height: 175px;
  }
  .greetings-my-name-container,
  .title {
    font-size: 75%;
  }
  .image-12-icon,
  .price-overall-1,
  .spacex-2-icon {
    width: 262px;
    height: 147px;
  }
  .bitcoin-price-prediction {
    font-size: 75%;
  }
  .huggingface-light-icon,
  .power-bi-1 {
    width: 262px;
    height: 147px;
  }
  .fashioncards {
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30%;
  }
  .projects {
    padding: var(--padding-6xl) 0;
    box-sizing: border-box;
    max-width: 1440px;
  }
  .experience-wrapper,
  .frame-container,
  .presents-parent {
    font-size: 75%;
  }
  .experience {
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .menulinks-large {
    display: flex;
  }
  .navbar,
  .welcome-to-my {
    font-size: 65%;
  }
  .menulinks-large1 {
    display: flex;
  }
  .menulinks-large-wrapper {
    padding-top: 150px;
    padding-bottom: 250px;
    box-sizing: border-box;
  }
  .pp-1-icon {
    width: 150px;
    height: 150px;
  }
  .greetings-my-name-container {
    font-size: 70%;
    flex: 1;
    min-width: 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .projects1 {
    font-size: 80%;
  }
  .image-12-icon,
  .spacex-2-icon {
    width: 245px;
    height: 138px;
    object-fit: contain;
  }
  .huggingface-light-icon,
  .power-bi-1,
  .price-overall-1 {
    width: 245px;
    height: 138px;
  }
  .fashioncards {
    gap: var(--gap-31xl);
    font-size: 27%;
    row-gap: 0;
  }
  .projects {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .home,
  .resume {
    display: none;
  }
  .vector-icon {
    display: flex;
    height: 30px;
  }
  .menulinks-large {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 65%;
  }
  .navbar {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .welcome-to-my {
    font-size: 55%;
  }
  .menulinks-large1 {
    display: flex;
  }
  .menulinks-large-wrapper {
    padding-top: 85px;
    padding-bottom: 205px;
    box-sizing: border-box;
  }
  .greetings-my-name-container {
    text-align: center;
    flex: unset;
    align-self: stretch;
  }
  .new-arrivals {
    align-self: stretch;
    width: auto;
    flex-direction: column;
    gap: var(--gap-6xl);
  }
  .introduction {
    padding: var(--padding-6xl) 0;
    box-sizing: border-box;
  }
  .huggingface-light-icon,
  .image-12-icon,
  .power-bi-1,
  .price-overall-1,
  .spacex-2-icon {
    width: 210px;
    height: 119px;
  }
  .fashioncards {
    gap: var(--gap-31xl);
    font-size: 27%;
    row-gap: 0;
  }
  .projects {
    padding: var(--padding-6xl) 35px;
    box-sizing: border-box;
  }
  .experience,
  .footer {
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .content {
    padding-left: var(--padding-56xl);
    padding-right: var(--padding-56xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .home,
  .resume {
    display: none;
  }
  .vector-icon {
    display: flex;
    width: 30px;
    height: 15px;
  }
  .menulinks-large {
    align-items: center;
    justify-content: flex-end;
  }
  .navbar {
    padding: 30px var(--padding-xl);
    box-sizing: border-box;
  }
  .welcome-to-my {
    font-size: 25%;
  }
  .menulinks-large-wrapper {
    padding-top: 0;
    padding-bottom: 103px;
    box-sizing: border-box;
  }
  .pp-1-icon {
    width: 100px;
    height: 100px;
  }
  .greetings-my-name-container {
    text-align: center;
    font-size: 50%;
    flex: unset;
    align-self: stretch;
  }
  .new-arrivals {
    flex-direction: column;
    gap: var(--gap-6xl);
  }
  .introduction {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .spacex-2-icon {
    width: 179px;
    height: 99px;
  }
  .courses {
    gap: var(--gap-xl);
  }
  .huggingface-light-icon,
  .image-12-icon,
  .power-bi-1,
  .price-overall-1 {
    width: 175px;
    height: 99px;
  }
  .fashioncards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-31xl);
    align-items: center;
    justify-content: center;
    font-size: 27%;
    row-gap: 0;
  }
  .content,
  .projects {
    box-sizing: border-box;
  }
  .projects {
    padding-left: 0;
    padding-right: 0;
  }
  .content {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
  }
}
