.vector-icon4 {
  position: absolute;
  height: 98.15%;
  width: 102.68%;
  top: 0;
  right: -2.68%;
  bottom: 1.85%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.back-arrow3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 56px;
  position: relative;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.menu5,
.navbar4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navbar4 {
  flex-direction: column;
  justify-content: center;
  padding: 0 0 var(--padding-31xl);
}
.sub-title2,
.title3 {
  align-self: stretch;
  position: relative;
}
.sub-title2 {
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
}
.title-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price-overall-112 {
  width: 888px;
  height: 492.2px;
  position: relative;
  object-fit: cover;
  z-index: 0;
}
.image-12 {
  align-self: stretch;
  height: 20px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.overlay-icon2 {
  width: 888px;
  height: 492.2px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  object-fit: cover;
  display: none;
  opacity: 0%;
  z-index: 2;
}
.overlay-icon2:hover {
  opacity: 100%;
}
.header2,
.intro2,
.price-overall-1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price-overall-1-container {
  position: relative;
  gap: var(--gap-8xs);
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-montserrat);
}
.header2,
.intro2 {
  align-self: stretch;
}
.intro2 {
  border-radius: var(--br-3xs);
  gap: var(--gap-16xl);
  row-gap: 30px;
}
.header2 {
  font-family: var(--font-venite-adoremus);
}
.general-overview5,
.lorem-ipsum-dolor2 {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.general-overview5 {
  height: 39px;
  font-weight: 600;
}
.lorem-ipsum-dolor2 {
  height: 24px;
  font-size: var(--font-size-xl);
  text-indent: 33px;
}
.general-overview4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.comprehensive-breakdown2 {
  align-self: stretch;
  height: 39px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.on-february-of {
  text-indent: 33px;
  margin-block-start: 0;
  margin-block-end: 10px;
}
.with-the-power {
  text-indent: 33px;
  margin: 0;
}
.quisque-scelerisque-tristique-container2 {
  align-self: stretch;
  height: 130px;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.detailed2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.aenean-at-ipsum2 {
  align-self: stretch;
  height: 24px;
  position: relative;
  font-size: var(--font-size-xl);
  text-indent: 33px;
  display: inline-block;
}
.closing2,
.content4 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.closing2 {
  width: 1720px;
  display: none;
  gap: var(--gap-8xs);
}
.content4 {
  align-self: stretch;
  display: flex;
  gap: var(--gap-31xl);
  text-align: justify;
  font-size: var(--font-size-13xl);
}
.footer-child2,
.lets-connect5 {
  align-self: stretch;
  position: relative;
}
.footer-child2 {
  background: linear-gradient(
    90deg,
    rgba(3, 7, 14, 0),
    #fff 33.1%,
    #fff 50%,
    #fff 67.43%,
    rgba(3, 7, 14, 0)
  );
  height: 1px;
}
.lets-connect5 {
  height: 24px;
  display: inline-block;
}
.github-logo-icon5,
.instagram-logo-icon5,
.youtube-logo-icon5 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: contain;
  cursor: pointer;
}
.github-logo-icon5,
.youtube-logo-icon5 {
  height: 33px;
  width: 45px;
}
.github-logo-icon5 {
  width: 33px;
}
.social-media-logo5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
}
.footer5,
.lets-connect-parent2 {
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.lets-connect-parent2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-6xl);
}
.footer5 {
  gap: var(--gap-31xl);
  font-size: var(--font-size-xl);
}
.footer5,
.power-bi-sub-page,
.power-bi-sub-page1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.power-bi-sub-page1 {
  text-decoration: none;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-81xl);
  gap: var(--gap-31xl);
  background-image: url(./public/power-bi--subpage@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: inherit;
}
.power-bi-sub-page {
  width: 100%;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1440px) {
  .navbar4 {
    gap: var(--gap-0);
    padding-top: 0;
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }
  .title3 {
    font-size: var(--font-size-17xl);
  }
  .sub-title2 {
    font-size: var(--font-size-mini);
  }
  .price-overall-112 {
    width: 666px;
    height: 369px;
  }
  .image-12 {
    font-size: var(--font-size-xs);
  }
  .overlay-icon2 {
    width: 666px;
    height: 369px;
  }
  .general-overview5 {
    font-size: var(--font-size-5xl);
  }
  .lorem-ipsum-dolor2 {
    font-size: var(--font-size-mini);
  }
  .comprehensive-breakdown2 {
    font-size: var(--font-size-5xl);
  }
  .aenean-at-ipsum2,
  .quisque-scelerisque-tristique-container2 {
    font-size: var(--font-size-mini);
  }
  .content4 {
    gap: var(--gap-26xl);
  }
  .lets-connect5 {
    font-size: var(--font-size-mini);
  }
  .instagram-logo-icon5 {
    width: 25px;
    height: 25px;
  }
  .youtube-logo-icon5 {
    width: 34px;
    height: 25px;
  }
  .github-logo-icon5 {
    width: 25px;
    height: 25px;
  }
  .power-bi-sub-page1 {
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 1200px) {
  .menu5 {
    display: flex;
  }
  .navbar4 {
    gap: var(--gap-0);
    padding-top: 0;
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .title3 {
    font-size: var(--font-size-11xl);
  }
  .sub-title2 {
    font-size: var(--font-size-xs);
  }
  .price-overall-112 {
    width: 555px;
    height: 307px;
  }
  .image-12 {
    font-size: var(--font-size-3xs);
  }
  .overlay-icon2 {
    width: 555px;
    height: 307px;
  }
  .general-overview5 {
    font-size: var(--font-size-xl);
  }
  .lorem-ipsum-dolor2 {
    font-size: var(--font-size-xs);
  }
  .comprehensive-breakdown2 {
    font-size: var(--font-size-xl);
  }
  .aenean-at-ipsum2,
  .quisque-scelerisque-tristique-container2 {
    font-size: var(--font-size-xs);
  }
  .content4 {
    gap: var(--gap-16xl);
  }
  .lets-connect5 {
    font-size: var(--font-size-xs);
  }
  .instagram-logo-icon5 {
    width: 21px;
    height: 21px;
  }
  .youtube-logo-icon5 {
    width: 28px;
    height: 21px;
  }
  .github-logo-icon5 {
    width: 21px;
    height: 21px;
  }
  .social-media-logo5 {
    gap: var(--gap-mini);
  }
  .lets-connect-parent2 {
    gap: var(--gap-3xl);
  }
  .footer5 {
    gap: var(--gap-25xl);
  }
  .power-bi-sub-page1 {
    gap: var(--gap-31xl);
    padding-left: var(--padding-56xl);
    padding-right: var(--padding-56xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .menu5,
  .navbar4 {
    box-sizing: border-box;
  }
  .menu5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0;
    font-size: 65%;
  }
  .navbar4 {
    gap: var(--gap-0);
    padding: 0 var(--padding-base) var(--padding-base) 0;
  }
  .title-container {
    padding-bottom: var(--padding-mini);
    box-sizing: border-box;
  }
  .overlay-icon2,
  .price-overall-112 {
    width: 444px;
    height: 246px;
  }
  .intro2 {
    row-gap: 10px;
  }
  .general-overview5 {
    font-size: var(--font-size-xl);
  }
  .aenean-at-ipsum2,
  .lorem-ipsum-dolor2,
  .quisque-scelerisque-tristique-container2 {
    font-size: var(--font-size-xs);
  }
  .lets-connect5 {
    font-size: var(--font-size-3xs);
  }
  .instagram-logo-icon5 {
    width: 17px;
    height: 17px;
  }
  .youtube-logo-icon5 {
    width: 23px;
    height: 17px;
  }
  .github-logo-icon5 {
    width: 17px;
    height: 17px;
  }
  .social-media-logo5 {
    gap: var(--gap-mini);
  }
  .lets-connect-parent2 {
    gap: var(--gap-xl);
  }
  .footer5 {
    gap: var(--gap-21xl);
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .power-bi-sub-page1 {
    padding-left: var(--padding-31xl);
    padding-top: var(--padding-21xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .back-arrow3 {
    width: 42px;
    height: 20px;
  }
  .menu5,
  .navbar4 {
    align-items: center;
    box-sizing: border-box;
  }
  .menu5 {
    gap: var(--gap-31xl);
    justify-content: flex-start;
    padding-right: 0;
  }
  .navbar4 {
    gap: var(--gap-0);
    justify-content: center;
    padding: 0 var(--padding-base) var(--padding-base) 0;
  }
  .title-container {
    gap: var(--gap-12xs);
  }
  .price-overall-112 {
    width: 266px;
    height: 148px;
  }
  .image-12 {
    font-size: var(--font-size-5xs);
  }
  .overlay-icon2 {
    width: 266px;
    height: 148px;
  }
  .aenean-at-ipsum2 {
    font-size: var(--font-size-3xs);
  }
  .content4 {
    gap: var(--gap-6xl);
  }
  .lets-connect5 {
    font-size: var(--font-size-3xs);
  }
  .instagram-logo-icon5 {
    width: 13px;
    height: 13px;
  }
  .youtube-logo-icon5 {
    width: 18px;
    height: 13px;
  }
  .github-logo-icon5 {
    width: 13px;
    height: 13px;
  }
  .social-media-logo5 {
    gap: var(--gap-3xs);
  }
  .footer5 {
    gap: var(--gap-21xl);
  }
  .power-bi-sub-page1 {
    gap: var(--gap-14xl);
    padding: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .navbar4 {
    gap: var(--gap-0);
    padding-top: 0;
    padding-right: var(--padding-base);
    padding-bottom: var(--padding-base);
    box-sizing: border-box;
  }
  .title3 {
    font-size: var(--font-size-5xl);
  }
  .sub-title2 {
    font-size: var(--font-size-3xs);
  }
  .price-overall-112 {
    width: 221px;
    height: 123px;
  }
  .image-12 {
    font-size: var(--font-size-5xs);
  }
  .overlay-icon2 {
    width: 221px;
    height: 123px;
  }
  .intro2 {
    row-gap: 10px;
  }
  .general-overview5 {
    font-size: var(--font-size-base);
  }
  .lorem-ipsum-dolor2 {
    font-size: var(--font-size-3xs);
  }
  .comprehensive-breakdown2 {
    font-size: var(--font-size-base);
  }
  .aenean-at-ipsum2,
  .quisque-scelerisque-tristique-container2 {
    font-size: var(--font-size-3xs);
  }
  .lets-connect-parent2 {
    gap: var(--gap-3xs);
  }
  .footer5 {
    gap: var(--gap-21xl);
  }
}
