.three-dot-child,
.three-dot-inner,
.three-dot-item {
  position: absolute;
  height: 20%;
  width: 100%;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
}
.three-dot-inner,
.three-dot-item {
  top: 40%;
  bottom: 40%;
}
.three-dot-inner {
  top: -5230%;
  right: 44575%;
  bottom: 5310%;
  left: -44575%;
}
.three-dot {
  width: 100%;
  position: relative;
  height: 20px;
}
@media screen and (max-width: 1200px) {
  .three-dot {
    width: 3px;
    height: 15px;
  }
}
@media screen and (max-width: 420px) {
  .three-dot {
    width: 2px;
    height: 10px;
  }
}
