@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.close-child,
.close-item {
  position: absolute;
  height: 16.67%;
  width: 124.67%;
  top: 88.33%;
  right: -24.67%;
  bottom: -5%;
  left: 0;
  background-color: var(--color-gainsboro);
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.close-item {
  top: 0;
  right: -36.33%;
  bottom: 83.33%;
  left: 11.67%;
  transform: rotate(45deg);
}
.close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 30px;
  position: relative;
  height: 30px;
}
.profile-logo-icon {
  width: 35px;
  position: relative;
  height: 23.9px;
  object-fit: cover;
}
.home3 {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 24px;
  font-family: var(--font-venite-adoremus);
  color: var(--color-white);
  text-align: left;
}
.home2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.certificate-logo-icon {
  width: 35px;
  position: relative;
  height: 28px;
}
.certification3 {
  position: relative;
  line-height: 24px;
}
.certification2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.rubiks-cube-icon {
  width: 35px;
  position: relative;
  height: 23.9px;
  overflow: hidden;
  flex-shrink: 0;
}
.passions3 {
  position: relative;
  line-height: 24px;
}
.passions2 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.cv-logo-icon {
  width: 35px;
  position: relative;
  height: 23.9px;
}
.home-parent,
.resume2 {
  display: flex;
  justify-content: center;
}
.resume2 {
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  color: inherit;
}
.home-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}
.close-parent,
.drawer-menu-items,
.menu10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.drawer-menu-items {
  width: 333px;
  flex-direction: row;
}
.close-parent,
.menu10 {
  align-self: stretch;
  flex-direction: column;
}
.close-parent {
  align-items: flex-end;
  gap: var(--gap-6xl);
}
.background-designed-by {
  margin: 0;
}
.background-designed-by-container {
  height: 72px;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.app-version-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: #7e8a97;
  font-family: var(--font-roboto);
}
.drawer-menu {
  width: 320px;
  height: 100%;
  position: relative;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-31xl) var(--padding-6xl);
  box-sizing: border-box;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-venite-adoremus);
}
.drawer-menu.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 960px) {
  .home3 {
    font-size: var(--font-size-base);
  }
  .home-parent {
    font-size: 50%;
  }
  .menu10 {
    padding-right: 0;
    box-sizing: border-box;
  }
  .background-designed-by-container {
    font-size: var(--font-size-xs);
    text-align: right;
  }
  .app-version-details {
    padding-bottom: 0;
    box-sizing: border-box;
    row-gap: 5px;
  }
  .drawer-menu {
    width: 250px;
    padding-top: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    padding-bottom: var(--padding-base);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .close {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  .profile-logo-icon {
    width: 25px;
    object-fit: contain;
  }
  .home3 {
    font-size: var(--font-size-3xs);
  }
  .certificate-logo-icon {
    width: 25px;
    font-size: 25%;
    object-fit: contain;
  }
  .certification3 {
    font-size: var(--font-size-3xs);
  }
  .rubiks-cube-icon {
    font-size: 25%;
  }
  .cv-logo-icon,
  .rubiks-cube-icon {
    width: 25px;
    object-fit: contain;
  }
  .home-parent {
    gap: var(--gap-3xs);
    font-size: 30%;
  }
  .background-designed-by-container {
    font-size: 7px;
    line-height: 15px;
  }
  .app-version-details {
    font-size: 50%;
  }
  .drawer-menu {
    width: 150px;
    padding-left: 12px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .certificate-logo-icon,
  .cv-logo-icon,
  .profile-logo-icon,
  .rubiks-cube-icon {
    width: 23px;
  }
  .background-designed-by-container {
    font-size: var(--font-size-7xs);
    line-height: 13px;
  }
}
