/* Set the body and html to take up the full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main content should take up the remaining space */
main {
    flex: 1;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 100;
}

footer {
    display: flex;
    justify-content: center;   /* Horizontally center the content */
    align-items: center;       /* Vertically center the content */
    height: 50px;              /* Adjust height as needed */
    width: 100%;               /* Ensure it spans the full width */
    background-color: #f8f9fa; /* Light background */
}
  
footer p {
    margin: 0;                 /* Remove default margin for better centering */
}

/* Define the scaling animation */
@keyframes scaleText {
    0%, 100% {
        transform: rotate(-15deg) scale(1); /* Start and end with original size and rotation */
    }
    50% {
        transform: rotate(-15deg) scale(1.15); /* Grow to 1.15x original size while keeping rotation */
    }
}

/* Apply the animation to the text */
#Welcome-Text {
    display: inline-block; /* Ensures the scaling centers correctly */
    transform-origin: center; /* Scale from center */
    animation: scaleText 2s infinite; /* Runs the animation continuously */
    position: absolute;
    bottom: -10px; 
    right: -85px; 
    transform: rotate(-15deg); 
    white-space: nowrap; 
    color: black;
    font-size: clamp(12px, 2vw, 15px); /* Adapt font size based on screen width */
    max-width: 100%; /* Prevent overflow */ 
}

@media (max-width: 576px) {
    #Welcome-Text {
        right: -25px;
        font-size: smaller;
    }
}

a.card {
    text-decoration: none;
}

a.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform;
}

a.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.015); /* Increase size by 5% */
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

.section-title {
    font-weight: bold;
}

.exp-circle {
    background-color: cadetblue; 
    height: 25px; 
    width: 25px;
}

.exp-line {
    width: 2px;
    background-color: cadetblue;
    flex-grow: 1; /* Makes the line grow as needed */
    margin: 0;
    z-index: 0;
}