/* Set the body and html to take up the full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main content should take up the remaining space */
main {
    flex: 1;
}

/* Footer styles */
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* This pushes the footer to the bottom when content is short */
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 100;
}